<div id="carouselExampleControls" class="carousel slide carousel-multi-item" data-keyboard="true">

  <!--Controls-->
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleControls" data-slide-to="1"></li>
    <li data-target="#carouselExampleControls" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <% counter = 0 %>
    <% @recipes.each do |recipe| %>
      <div class="carousel-item <%= "active" if counter == 0 %>">
        <div class="recipe-index-show-card">
          <div style="background-image: url(http://<%= recipe.img_url %>)" class='recipe-index-card-image-wrapper'></div>
          <%= link_to recipe_path(recipe), class:"recipe-show-link" do %>
          <div class="card-body">
            <h4 class="recipe-card-title"><%= recipe.title %></h4>
            <table style="width:100%" class='table-recipe-index'>
              <tr>
                <td class='recipe-table'><i class="far fa-clock"></i> Prep Time:</td>
                <td class='recipe-table'><%= recipe.prep_time %></td>
              </tr>
              <tr>
                <td class='recipe-table'><i class="fas fa-temperature-high"></i> Cook Time:</td>
                <td class='recipe-table'><%= recipe.cook_time %></td>
              </tr>
              <tr>
                <td class='recipe-table'><i class="fas fa-user-friends"></i> Serves:</td>
                <td class='recipe-table'><%= recipe.serves %></td>
              </tr>
              <tr>
                <td class='recipe-table'>Difficulty:</td>
                <td class='recipe-table'><%= recipe.difficulty %></td>
              </tr>
              <tr>
                <td class='recipe-table'>Ingredients: </td>
                <td class='recipe-table'><%= recipe.ingredients_count %></td>
              </tr>
              <tr>
                <td class='recipe-table'>Category: </td>
                <td class='recipe-table'><%= recipe.category.capitalize %></td>
              </tr>
            </table>
          </div>
          <% end %>
        </div>
      </div>
      <% counter += 1 %>
    <% end %>
  </div>
  <!--/.Slides-->

</div>

<!--/.Carousel Wrapper-->


















